﻿@using ShoppingList.Models;
@inject DialogService DialogService
@inject IStringLocalizer<Translations> Localizer

<EditForm Model="@ModelName" OnValidSubmit="@SaveAsync">
    <DataAnnotationsValidator />

    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">@Localizer["Name"]</RadzenText>
    <RadzenTextBox Placeholder="@Localizer["EnterName"]" @bind-Value="ModelName.Name" Style="width: 100%;" />
    <div class="error-message">
        <ValidationMessage For="@(() => ModelName.Name)" />
    </div>

    <div class="action-buttons">
        <RadzenButton type="submit" Style="margin-right: 10px;">@Localizer["Add"]</RadzenButton>
        <RadzenButton type="button" ButtonStyle="ButtonStyle.Secondary" Click="@Close">@Localizer["Cancel"]</RadzenButton>
    </div>
</EditForm>

@code {
    public ItemName? ModelName { get; set; }

    protected override void OnInitialized() => ModelName ??= new();

    private void SaveAsync()
    {
        DialogService.Close(ModelName);
    }

    private void Close()
    {
        DialogService.Close();
    }
}