﻿@page "/shopping-list/{id:guid}"
@using ShoppingList.Data.Entities
@using ShoppingList.Data.Repositories
@using ShoppingList.Models
@using ShoppingList.Services

@inject DialogService DialogService
@inject IShoppingListRepository ShoppingListRepository
@inject IShareService ShareService
@inject IStringLocalizer<Translations> Localizer

<h3>@Localizer["EditShoppingList", @ShoppingList.Name]</h3>

<RadzenButton Text="+" Click="@AddNewItem"></RadzenButton>
<RadzenButton Icon="share" ButtonStyle="ButtonStyle.Light" Click="@ShareList"></RadzenButton>

@foreach (ShoppingListItem item in ShoppingList.Items)
{
    <div class="item-container">
        <div class="item-title">@item.Name</div>
        <div>
            <RadzenCheckBox @bind-Value=item.IsBought TValue="bool" Change="@(() => ItemChanged(item))" Style="margin-right: 10px;"/>
            <RadzenButton Icon="delete_forever" ButtonStyle="ButtonStyle.Danger" Click="@(() => RemoveItem(item))"></RadzenButton>
        </div>
    </div>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    private ShoppingList ShoppingList = new ShoppingList();

    protected override async Task OnInitializedAsync()
    {
        ShoppingList = await ShoppingListRepository.GetShoppingList(Id);
    }

    private async Task AddNewItem()
    {
        ItemName newListName = await DialogService.OpenAsync<AddItemDialog>(Localizer["AddNewItemInList"],
              null,
              new DialogOptions() { Style = "max-width: 85%;", Width = "100px" });

        if (newListName != null)
        {
            var newShoppingListIem = new ShoppingListItem()
                {
                    Id = Guid.NewGuid(),
                    Name = newListName.Name
                };

            await ShoppingListRepository.AddListItem(Id, newShoppingListIem);
            ShoppingList.Items.Add(newShoppingListIem);
        }
    }

    private async Task RemoveItem(ShoppingListItem shoppingListItem)
    {
        await ShoppingListRepository.RemoveListItem(Id, shoppingListItem.Id);
        ShoppingList.Items.Remove(shoppingListItem);
    }

    private async Task ItemChanged(ShoppingListItem item)
    {
        await ShoppingListRepository.UpdateListItem(Id, item.Id, item.IsBought);
    }

    private async Task ShareList() 
    {
        var message = "🛒 " + string.Join(", ",ShoppingList.Items.Select(si => si.Name).ToArray());
        await ShareService.ShareText(ShoppingList.Name, message);
    }
}
