﻿@page "/"
@using ShoppingList.Data.Repositories
@using ShoppingList.Models;
@using Data.Entities; 
@using ShoppingList.ViewModels

@inject DialogService DialogService
@inject IShoppingListRepository ShoppingListRepository
@inject NavigationManager Navigation
@inject IStringLocalizer<Translations> Localizer

<h1>Hello, world!</h1>

<RadzenButton Text="+" Click="@AddNewList"></RadzenButton>

@foreach (BaseViewModel list in ShoppingLists)
{
    <div @onclick="@(() => EditShoppingList(list.Id))" class="item-container">
        <div class="item-title">@list.Name</div>
        <RadzenButton Text="@Localizer["Delete"]" ButtonStyle="ButtonStyle.Danger" Click="@(() => RemoveShoppingList(list))" @onclick:stopPropagation="true"></RadzenButton>
    </div>
}

@code {
    private List<BaseViewModel> ShoppingLists = new List<BaseViewModel>();

    protected async override Task OnInitializedAsync()
    {
        ShoppingLists = await ShoppingListRepository.GetAllShoppingLists();
    }

    private async Task AddNewList()
    {
        ItemName newListName = await DialogService.OpenAsync<AddItemDialog>(Localizer["AddNewList"],
               null,
               new DialogOptions() { Style = "max-width: 85%;", Width = "100px" });

        if (newListName != null)
        {
            var newShoppingList = new ShoppingList()
                {
                    Id = Guid.NewGuid(),
                    Name = newListName.Name
                };

            await ShoppingListRepository.AddNewShoppingList(newShoppingList);
            ShoppingLists.Add(new BaseViewModel { Id = newShoppingList.Id, Name = newShoppingList.Name });
        }
    }

    private void EditShoppingList(Guid id)
    {
        Navigation.NavigateTo($"shopping-list/{id}");
    }

    private async Task RemoveShoppingList(BaseViewModel list)
    {
        await ShoppingListRepository.RemoveShoppingList(list.Id);
        ShoppingLists.Remove(list);
    }
}